* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  min-width: 340px;
  padding-bottom: 50px;
}

.caption {
  padding: 30px 0 25px;
  margin-bottom: 40px;
  background: #f7f7f7;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

h2 {
  font-size: 40px;
}

.items-wrap {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .items-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .caption {
    margin: 20px 15px 15px 15px;
  }

  .items-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .card.card {
    margin: 0 15px;
    width: calc(100% - 30px);
  }
}

.card {
  width: 100%;
  color: #000;
  transition: all .3s ease;
  height: 100%;
  text-align: center;
}

.card:hover {
  text-decoration: none;
  color: #000;
}

.card .btn {
  width: 100%;
  border-radius: 0;
}

.card .card-img-top {
  width: auto;
  margin: 5px auto 10px;
  max-height: 150px;
  max-width: 90%;
}

.image-inner {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  margin: 0 !important;
}

span {
  font-size: 14px;
  margin-top: 15px !important;
  -ms-word-break: break-all;
  word-break: break-all;
}
